*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
ul , ol , li , h1, h2, h3, h4, h5 , h6 , p ,a{
    margin: 0 !important;
    padding: 0 !important;
    text-transform: capitalize;
}
img{
    vertical-align: middle;
}
a{
    text-decoration: none;
    display: inline-block;
    text-transform: capitalize;
}
body{
    background: #f9f9f9;
    font-family: 'Raleway', sans-serif;
}
:root{
    --blue: #26104e;
    --purple: #811d50;
    --red: #8d0000;
}
h3{
    font-size: 16px;
    color: var(--bs-orange);
}
h2{
    font-size: 40px;
    color: var(--blue);
}
h4{
    font-size: 18px;
    font-weight: 600;
    color: var(--blue);
}
h5{
    font-size: 22px;
    font-family: sans-serif;
    color: #222;
}
@media(max-width: 991px){
    p{
        line-height: 24px !important;
    }
    i {
        font-size: 16px !important;
    }
    input {
        font-size: 16px !important;
    }
    a{
        font-size: 16px !important;
    }
    h2{
        font-size: 35px;
    }
}   
@media(max-width: 767px){
    .main_menu .menu_icon {
        width: 115px !important;
    }
    p{
        font-size: 10px !important;
        line-height: 15px !important;
    }
    i {
        font-size: 12px !important;
    }
    input {
        font-size: 12px !important;
    }
    a{
        font-size: 12px !important;
    }
    h3{
        font-size: 12px;
    }
    h2{
        font-size: 22px;
    }
    h5{
        font-size: 16px;
    }
    h4{
        font-size: 16px;
    }
}
@media(max-width: 575px){
    h3{
        font-size: 10px;
    }
    h5{
        font-size: 12px;
    }
    h4{
        font-size: 12px;
    }
}


.loader {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e5eff1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader img {
    width: 20%;
}
/* JS Class */
.dispear {
    animation: dispar 2s forwards;
}

@keyframes dispar {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
/* ---------navber start------------- */
nav{
    background: #6a36ca34;
}
.main_menu.sticky-top {
    background: #ffa9a9;
    z-index: 999;
}
.main_menu .menu_icon{
    width: 145px;
}
.main_menu .menu_item{
    gap: 30px;
}
.main_menu .menu_item .nav-item .nav-link {
    font-size: 22px;
    color: #8d0000;
    font-weight: 600;
    padding: 5px 15px !important;
    box-shadow: rgb(255 255 255 / 43%) 3px 3px 6px 0px, rgb(106 106 106 / 38%) -3px -3px 6px 1px;
    border-radius: 15px;
}
.main_menu .navbar-toggler {
    border: transparent;
}
.main_menu .navbar-toggler i {
    font-size: 22px !important;
}
.main_menu .navbar-toggler:focus {
    box-shadow: none;
}
.main_menu .user_nav a i {
    margin: 0 20px;
    color: var(--red);
    padding: 12px;
    position: relative;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: rgb(255 255 255 / 43%) 3px 3px 6px 0px, rgb(106 106 106 / 38%) -3px -3px 6px 1px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
@media(max-width: 767px){
    .main_menu .menu_item .nav-item .nav-link {
        margin-top: 10px !important;
    }
}
/* ---------navber end------------- */

.main_banner{
    width: 100%;
    background: #6a36ca34;
}
.main_banner .typed-cursor{
    visibility: hidden;
}
.main_banner .banner_txt{
    padding: 120px 0 20px;
}
.main_banner .banner_txt h1 {
    line-height: 90px;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: #8d0000;
    height: 200px;
}
.main_banner .banner_txt p{
    font-size: 16px;
    color: var(--purple);
    line-height: 30px;
    padding-bottom: 30px !important;
}
.main_banner .banner_txt .search {
    box-shadow: rgb(70 70 70 / 30%) 3px 3px 6px 0px inset, rgb(189 189 189 / 50%) -3px -3px 6px 1px inset;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.main_banner .banner_txt .search i {
    color: var(--purple);
    font-size: 20px;
    margin-right: 10px;
}
input::placeholder{
    color: #8d0000;
    font-family: 'Satisfy', cursive;
}
input{
    background: transparent;
    border: none;
    color: #fff;
    font-size: 18px;
    width: 70%;
    font-family: sans-serif;
}
.main_banner .banner_txt .search >a{
    font-size: 16px;
    font-weight: 600;
    color: var(--red);
    padding: 12px 20px !important;
    box-shadow: rgb(255 255 255 / 43%) 3px 3px 6px 0px, rgb(189 189 189 / 50%) -3px -3px 6px 1px;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
}
.main_banner .banner_img {
    padding-top: 150px;
    width: 330px;
    margin: 0 auto;
}
.main_banner .banner_img img{
    padding: 10px;
    box-shadow: rgb(70 70 70 / 30%) 3px 3px 6px 0px inset, rgb(189 189 189 / 50%) -3px -3px 6px 1px inset;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
@media(max-width: 991px){
    .main_banner .banner_txt h1 {
        font-size: 40px;
        line-height: normal;
        height: 100px;
    }
    .main_banner .banner_img {
        padding-top: 70px;
    }
}  
@media(max-width: 767px){
    .main_banner .banner_txt {
        padding-top: 40px;
    }
    .main_banner .banner_txt h1 {
        font-size: 30px;
        height: 75px;
    }
    .main_banner .banner_img {
        width: 245px;
    }
    .main_menu .menu_item {
        gap: 0;
        text-align: center;
    }
} 
@media(max-width: 575px){
    .main_banner .banner_txt{
        text-align: center;
    }
}
/* ---------banner end------------- */
/* =================================================== */
/* -----------parternship start------------------- */
#parternship{
    padding: 60px 0;
}
.partership_slider_main .partership_slider_part{
    margin: 0 25px !important;
    cursor: pointer;
}
.partership_slider_main .partership_slider_part img{
    transition: all .3s linear;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}
.partership_slider_main .partership_slider_part img:hover{
    transform: scale(1.1);
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
/* ------------parternship end--------------------- */
/* =================================================== */
/* -----------residences start------------------- */

.slider_main .slider_part{
    margin: 10px 25px;
    padding: 10px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.slider_main .slider_part:hover{
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.2);
}
.slider_main .slider_part img{
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.slider_main .slider_part h5{
    padding-top: 15px !important;
}
.slider_main .slider_part h5 span{
    color: var(--bs-orange);
}
.slider_main .slider_part h4{
    padding: 10px 0 !important;
}
.slider_main .slide-prv-button{
    position: absolute;
    top: -40px;
    right: 20%;
    cursor: pointer;
    padding: 15px;
    box-shadow: rgb(255 255 255 / 43%) 3px 3px 6px 0px, rgb(106 106 106 / 38%) -3px -3px 6px 1px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
} 
.slider_main .slide-nxt-button{
    position: absolute;
    top: -40px;
    right: 10%;
    cursor: pointer;
    padding: 15px;
    box-shadow: rgb(255 255 255 / 43%) 3px 3px 6px 0px, rgb(106 106 106 / 38%) -3px -3px 6px 1px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
@media(max-width: 575px){
    .slider_main .slide-prv-button ,
    .slider_main .slide-nxt-button {
        padding: 7px;
        top: -30px;
    }
}
/* ------------residences end--------------------- */
/* =================================================== */
/* -----------services start------------------- */
#services {
    margin: 60px 0;
}
.value_img {
    margin: 0 auto;
    width: 330px;
}
.value_img img {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    padding: 10px;
    box-shadow: rgb(70 70 70 / 30%) 3px 3px 6px 0px inset, rgb(189 189 189 / 50%) -3px -3px 6px 1px inset;
}
.value_txt {
    margin: auto 0;
}
.value_txt > h2 {
    margin: 20px 0 !important;
    color: var(--red);
}
.value_txt > p {
    margin-bottom: 15px !important;
}
.value_txt .accordion-item {
    border: none;
    background: transparent;
    box-shadow: rgb(0 0 0 / 46%) 3px 3px 6px 0px inset, rgb(189 189 189 / 50%) -3px -3px 6px 1px inset;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.value_txt .accordion-button {
    padding-left: 10px !important;
    background: transparent;
}
.value_txt .accordion-button:not(.collapsed) {
    color: var(--red);
    border: none;
    background: transparent;
    box-shadow: none;
}
.value_txt .accordion-button:focus {
    box-shadow: none;
}
.value_txt .accordion-body {
    padding: 0 10px;
}
.value_txt .accordion-body p {
    color: var(--purple);
}
.value_txt .accordion-button::after {
    background: none;
}
.value_txt .accordion-button::before {
    content: '\002B';
    position: absolute;
    font-size: 30px;
    width: 30px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    box-shadow: rgb(205 205 205 / 43%) 3px 3px 6px 0px, rgb(82 74 74 / 38%) -3px -3px 6px 1px;
    color: var(--purple);
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.value_txt .accordion-button:not(.collapsed)::before {
    content: '\2212';
}

@media(max-width: 991px){
    .value_img {
        padding-bottom: 70px;
    }
}  
@media(max-width: 767px){
    .value_img {
        width: 245px;
    }
    .value_txt > h2 ,
    .value_txt > p {
        text-align: center;
    }
}
/* ------------services end--------------------- */
/* =================================================== */
/* -----------product start------------------- */
.product_part h4 {
    text-align: center;
    margin-bottom: 16px !important;
    color: var(--red);
}
.product_part .product_img {
    position: relative;
}
.product_part .product_img img {
    padding: 10px;
    box-shadow: rgb(0 0 0 / 46%) 3px 3px 6px 0px inset, rgb(189 189 189 / 50%) -3px -3px 6px 1px inset;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
}
.button {
    width: 100px;
    margin: 10px auto;
    box-shadow: rgb(159 156 156 / 43%) 3px 3px 6px 0px, rgb(183 183 183 / 38%) -3px -3px 6px 1px;
    text-align: center;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}
.button a {
    font-size: 16px;
    padding: 10px !important;
    font-weight: 600;
    color: var(--red);
}
.vbox-child{
    width: 65%;
}
.vbox-close {
    color: var(--red);
}
.vbox-next span ,
.vbox-prev span {
    border-top-color: var(--bs-cyan);
    border-right-color: var(--bs-cyan);
}
@media(max-width: 767px){
    .vbox-child {
        width: 100%;
    }
}
/* ------------product end--------------------- */
/* =================================================== */
/* -----------about start------------------- */
#about {
    margin: 60px 0;
}
.about_main {
    row-gap: 20px;
    border-bottom: 2px solid #8d000024;
}
.about_part .about_img {
    width: 185px;
    position: relative;
    cursor: pointer;
}
.about_part .about_img img {
    box-shadow: rgb(159 156 156 / 43%) 3px 3px 6px 0px, rgb(183 183 183 / 38%) -3px -3px 6px 1px;
    height: 245px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.about_part .about_img:hover .about_img_overly {
    right: 0;
    visibility: visible;
    opacity: 1;
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
}
.about_part .about_img .about_img_overly {
    position: absolute;
    top: 0;
    right: -50px;
    opacity: 0;
    visibility: hidden;
    padding: 10px;
    box-shadow: rgb(0 0 0 / 46%) 3px 3px 6px 0px inset, rgb(189 189 189 / 50%) -3px -3px 6px 1px inset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 50px;
    padding: 30px 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.about_part .about_img .about_img_overly a i {
    font-size: 22px;
    color: var(--red);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    box-shadow: rgb(159 156 156 / 43%) 3px 3px 6px 0px, rgb(183 183 183 / 38%) -3px -3px 6px 1px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.about_part .about_img .about_img_overly a i:hover {
    background: var(--red);
}
.about_part .about_txt {
    font-family: sans-serif;
    text-align: center;
}
.about_part .about_txt h5 {
    font-weight: 600;
    color: var(--red);
}
.about_part .about_txt a {
    color: var(--blue);
}
.about_part .about_txt a:hover {
    color: var(--purple);
    font-weight: 500;
}

/* ------------about end--------------------- */
/* =================================================== */
/* -----------contact start------------------- */
#contact {
    margin: 60px 0;
}
.contact_txt h2 {
    margin: 20px 0 !important;
    color: var(--red);
}
.contact_txt .contact_main {
    margin-top: 30px;
    row-gap: 15px;
}
.contact_txt .contact_main .contact_part {
    padding: 10px;
    box-shadow: rgb(58 34 34 / 32%) 3px 3px 6px 0px inset, rgb(189 189 189 / 50%) -3px -3px 6px 1px inset;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

.contact_txt .contact_main .contact_part i {
    font-size: 22px;
    margin: 5px 0 0 5px;
    color: var(--blue);
    background: #26104e3f;
    padding: 5px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.contact_img {
    width: 330px;
    margin-top: 50px !important;
}
.contact_img img {
    padding: 10px;
    box-shadow: rgb(58 34 34 / 32%) 3px 3px 6px 0px inset, rgb(189 189 189 / 50%) -3px -3px 6px 1px inset;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

@media(max-width: 991px){
    .contact_img {
        padding-top: 70px;
    }
}  
@media(max-width: 767px){
    .contact_img {
        width: 245px;
        margin-top: 0 !important;
    }
}
@media(min-width: 767px){
    .contact_txt .contact_main .contact_part .s-btnn {
        width: 130px;
    }
}
/* ------------contact end--------------------- */
/* =================================================== */
/* -----------start start------------------- */
#start {
    background: #6a36ca34;
    padding: 80px 0;
    text-align: center;
}
.start h2 {
    color: var(--red);
    font-weight: 600;
    letter-spacing: 0.3px;
}
.start p {
    margin: 20px 50px !important;
    color: var(--purple);
}
/* ------------start end--------------------- */
/* =================================================== */
/* -----------footer start------------------- */
.footer_main {
    margin: 60px 0;
    row-gap: 40px;
}
.footer_icon {
    width: 120px;
    margin-bottom: 60px;
}
.footer-part {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-part h4 {
    color: var(--red);
}
.footer-part a {
    color: var(--blue);
}
.footer-part a i {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    box-shadow: rgb(92 92 92 / 18%) 3px 3px 6px 0px inset, rgb(231 229 229 / 50%) -3px -3px 6px 1px inset;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.footer_bottom {
    padding: 10px 0;
    background: #6a36ca34;
}
@media(max-width: 575px){
    .footer_bottom .footer_txt {
        text-align: center;
    }
}
/* ------------footer end--------------------- */
/* =============================================================== */
/*------------- go top------------- */
.go_top {
    position: fixed;
    right: 1%;
    bottom: 8%;
    width: 5%;
    cursor: pointer;
    transform: scale(1);
    transition: .4s all;
    z-index: 999;
    opacity: 0;
}
/* ======================================== */

/* ===========================================================================
==============================================================================
========================== login page css ====================================
==============================================================================
============================================================================ */
.login_main {
    margin: 42px 0;
}
.login_main .login_img {
    padding: 10px;
    box-shadow: rgb(92 92 92 / 18%) 3px 3px 6px 0px inset, rgb(231 229 229 / 50%) -3px -3px 6px 1px inset;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}
.login_main form {
    padding: 25px;
    background: #6a36ca34;
    border-radius: 8px;
}
.inside-shadow {
    border: transparent;
    /* box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5), 
    inset 10px 10px 15px rgba(70, 70, 70, 0.12); */
    box-shadow: rgb(70 70 70 / 30%) 3px 3px 6px 0px inset, rgb(189 189 189 / 50%) -3px -3px 6px 1px inset;
    background: #fbf8ff00;
}
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.login_main .icon p {
    color: var(--red);
    font-weight: 600 !important;
}
.login_main .icon a i {
    margin-right: 10px;
}
.login_main .icon a i,
.login_footer a i {
    box-shadow: rgb(255 255 255 / 43%) 3px 3px 6px 0px, rgb(189 189 189 / 50%) -3px -3px 6px 1px;
    color: var(--red);
    padding: 12px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.form-control:focus {
    background: none;
    box-shadow: rgb(70 70 70 / 30%) 3px 3px 6px 0px inset, rgb(189 189 189 / 50%) -3px -3px 6px 1px inset;
}
.form-check-input {
    cursor: pointer;
}
.form-check-input:checked {
    background-color: var(--red);
    border: var(--red);
}
.form-check-input:focus {
    box-shadow: none;
}
.login_footer a i:hover ,
.login_main .icon a i:hover {
    color: var(--blue);
}
.login_main .login_button {
    box-shadow: rgb(255 255 255 / 43%) 3px 3px 6px 0px, rgb(189 189 189 / 50%) -3px -3px 6px 1px;
    color: var(--red);
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}
.login_footer {
    background: #6a36ca34;
}
@media(max-width: 575px){
    .login_footer .login_footer_txt {
        font-size: 12px;
    }
}

/* ===========================================================================
==============================================================================
========================== signup page css ====================================
==============================================================================
============================================================================ */
.sign_up_back {
    background: #6a36ca34;
}
.sign_up_back h2 {
    color: var(--red);
}
.submit_button:hover {
    color: rgb(11, 99, 213);
}
.submit_button ,
.signup_button {
    box-shadow: rgb(255 255 255 / 43%) 3px 3px 6px 0px, rgb(189 189 189 / 50%) -3px -3px 6px 1px;
    color: var(--red);
    font-weight: 600;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}
